<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>com.tulpachat.dating-image-backlog</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/anaconda3/bin/python3</string>
        <string>/Users/forrestdpark/Desktop/PDG/DailyHelloWorld_/일본어자막추출/generate_missing_dating_sim_images.py</string>
    </array>
    <key>WorkingDirectory</key><string>/Users/forrestdpark/Desktop/PDG/DailyHelloWorld_</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key><string>/opt/homebrew/opt/node@22/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>JP_DATING_IMAGE_PROVIDER</key><string>comfyui</string>
    </dict>
    <key>RunAtLoad</key><true/>
    <key>StartInterval</key><integer>300</integer>
    <key>ProcessType</key><string>Background</string>
    <key>LowPriorityIO</key><true/>
    <key>StandardOutPath</key><string>/Users/forrestdpark/Library/Logs/TulpaChat/dating-image-backlog.log</string>
    <key>StandardErrorPath</key><string>/Users/forrestdpark/Library/Logs/TulpaChat/dating-image-backlog.error.log</string>
</dict>
</plist>
