<!--views/layouts/main.handlebars-->
<html>
    <head>
        <meta charset="utf-8"/>
        <title> GRK Partners Research Platform</title>

    </head>
    <body>
        {{{body}}} 
    </body>
</html>